[config]
region=us-east-1
csv_dir=infoblox
mx_json_dir=mx
mx_json_template=mx/mx.json.template
txt_ttl=600
cname_ttl=600
a_ttl=600
#dont use mx_ttl here - use the one specified in the mx/template file
mx_ttl=600
hostrecord_ttl=600
ns_ttl=1200
soa_ttl=1200
vpc_id=vpc-088888888888
vpc_region=us-east-1
